.app {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-card {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  border: 0.5rem solid var(--title);
  border-radius: 1rem;
  box-shadow: 0 0 24px 8px var(--title);
  margin: 0 0.5rem;
}

.input-result-wrapper {
  background-image: url("./assets/piggybank.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
